<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>
				
				<div class="form-group col-lg-12">
					<label>Full Name</label> *
					<input type="text" class="form-control" id="full-name" ng-model="registration.full_name">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Password</label> *
					<input type="password" class="form-control" id="password" ng-model="registration.password">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Repeat Password</label> *
					<input type="password" name="" class="form-control" id="repeat-password" ng-model="registration.repeat_password">
				</div>
								
				<div class="form-group col-lg-6">
					<label>Email Address</label> *
					<input type="email" class="form-control" id="email" value="" ng-model="registration.email">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Phone</label>
					<input type="text" class="form-control" id="" ng-model="registration.phone">
				</div>		
				<div><span class="required">*</span> required</div>	
				<!--
				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Sigh up for our newsletter
				</div>

				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Send notifications to this email
				</div>	-->	
				<div class="registration-error-alert">
			        <alert ng-repeat="alert in registration_error_alerts" type="{{alert.type}}" close="closeRegistration_error_alert($index)">{{alert.msg}}</alert>
			    </div>		
			
			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to The Company's' Terms and Conditions
				</p>
				<p>
					While rare, prices are subject to change based on exchange rate fluctuations - 
					should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
				</p>
				<p>
					Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
				</p>
				<p>
					Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
				</p>
				
				<button type="button" class="btn btn-primary" ng-click="registration.register()">Register</button>
			</div>
		</div>
	</section>
</div>