<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2 translate>SERVICE_INFO_1_TITLE</h2>
        <p translate>SERVICE_INFO_1_DESC</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2 translate>SERVICE_INFO_2_TITLE</h2>
        <p translate>SERVICE_INFO_2_DESC</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2 translate>SERVICE_INFO_3_TITLE</h2>
        <p translate>SERVICE_INFO_3_DESC</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>